
<!-- full.screen.page.component.html -->

<div id="map" #map></div>

  <div class="p-2 floating-range">

    <div class="flotaing-content">
      <input  type="range"
              class=""
              min="2"
              max="18"
              [value]="zoom"
              (input)="zoomChanged( zoomInput.value )"
              #zoomInput
      >

    </div>

    <!-- Geatió del zoom -->
    <span class="form-label">
      zoom: {{ zoom | number:'2.2-2'}}
      <br>
      <p> Longitud: {{ currentlngLat.lng | number: '1.2-2' }}
          Latitud: {{ currentlngLat.lat | number: '1.2-2' }}
      </p>
    </span>

    <!-- Gestió dels marcadors -->
    <span class="">
      <ul class="list-group">
        <li *ngFor="let colorMarker of markers; let i = index"
            [ngStyle]="{backgroundColor: colorMarker.color}"
            (dblclick)="removeMarker(i)"
            (click)="flyto( colorMarker.marker)"
            class="list-group-item markerCustom">
          Marker {{ i + 1 }}
        </li>
      </ul>

      <!-- Botó per afegir marcador -->
      <button (click)="createMarker()" class="btn btn-secondary markerButton">
        Afegir marcador
      </button>
    </span>

  </div>
