
// full-screen-page-component.scss

#map{
  width: auto;
  height: 85vh;
}

// maps-side-menu {
//   position: fixed;
//   top:      90px;
//   left:     20px;
//   z-index:  999;
//   width:    150px;
// }

.floating-range{
  position:     relative;
  bottom:       125px;
  left:         20px;
  z-index:      999;
  width:        300px;
  border-radius:10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.406);
  background-color: rgba(255, 255, 255, 0.71);
}

.floating-content{
  display: flex ;
  align-items: center;
  justify-content: space-between;
}

.list-group{
  position: absolute;
  top: -950px;
  right: 200px;
  width: 100px;
  height: autp;
  overflow-y: auto;
  background-color: rgba(221, 220, 220, 0.096);
  cursor: pointer;
  margin-top: 5px;
}

.list-group-item{
  margin-top: 5px ;
  color: rgb(105, 105, 105);
}

.markerButton{
  position: absolute;
  bottom: 100px;
  right:  150px;
  background-color: rgba(92, 92, 92, 0.53);
}




