
<!-- location-dialog.component.html -->




  <h1 mat-dialog-title class="text-center mt-5">Editar ubicació</h1>

  <div mat-dialog-content class="text-center py-3 ">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="data.category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="mb-5">
    <button mat-button class="cancel-btn" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="save-btn" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>



