

<!-- calendar-dialog.component.html -->


<div class="rounded">

  <h2 mat-dialog-title class="text-center ">Event</h2>

  <div mat-dialog-content class="p-5">
    <mat-form-field appearance="fill">
      <mat-label>Títol</mat-label>
      <input matInput [(ngModel)]="data.event.title" name="title" />
    </mat-form-field>
    <!-- Fields to edit start and end time -->
    <mat-form-field appearance="fill">
      <mat-label>Començament</mat-label>
      <input
        matInput
        type="datetime-local"
        [(ngModel)]="data.event.start"
        name="start"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Final</mat-label>
      <input
        matInput
        type="datetime-local"
        [(ngModel)]="data.event.end"
        name="end"
      />
    </mat-form-field>
    <mat-checkbox [(ngModel)]="data.event.delete" name="delete" class="ms-5"
      >Esborrar</mat-checkbox
    >
  </div>

  <div mat-dialog-actions>
    <button mat-button class="cancel-btn" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="save-btn" (click)="onSaveClick()" cdkFocusInitial>
      Guardar
    </button>
  </div>

</div>
