<!-- map.component.html -->



<div class="container mt-5">
  <div id="map" class="rounded-4 border border-3"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 mx-5 categories">
      <select class="form-select mt-3" [(ngModel)]="selectedCategory" (change)="filterMarkers()">
        <option value="all">Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
    <div class="col-3 justify-content-end">
      <button class="btn btn-secondary mt-3">Afegir Marcador</button>
    </div>
  </div>
</div>
