

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}

.btnEdit, .btnDelete {
  cursor: pointer;
}

.btnEdit {
  color: #007bff;
}

.btnDelete {
  color: #dc3545;
}
