

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-form-field {
  width: 90%;
  font-size: 14px;
  margin-right: 10px;
}

.btnEdit, .btnDelete {
  cursor: pointer;
}

.btnEdit {
  color: #007bff;
}

.btnDelete {
  color: #dc3545;
}

.btnAdd {
  width: 80px;
}
